body {
	margin: 0px;
	padding: 0px;
}

.hijo1, .hijo2, .hijo3 {
	width: 200px;
	height: 200px;
	position: relative;
	left:200px;
	top: 100px;
}

.hijo1 {
	background-color: #ED2251;
}

.hijo2 {
	background-color: #3A81BA;
}

.hijo3 {
	background-color: #8BAB42;
}
